<style>
.test_passed_successfully {
	color: green;
}

.test_passed_unsuccessfully {
	color: red;	
}

.badge_image {
	max-height: 60px;
	max-width: 60px;
}
</style>

<h1><%= t('.title') %></h1>

<p>
	<%= t('.info_html', test_title: @test.title) %>
	<% if @test_passage.success? %>
		<strong class="test_passed_successfully"> 
			<%= t '.success_message', success_percent: @test_passage.success_percent %>
		</strong>
	<% else %>
		<strong class="test_passed_unsuccessfully"> 
			<%= t '.unsuccess_message', success_percent: @test_passage.success_percent %>
		</strong>
	<% end %>	
</p>
<% if @test_passage.badges.count.nonzero? %>
  <p>
	  <strong> <%= t '.badges_gived', count: @test_passage.badges.count %> </strong>
	  
	  <% @test_passage.badges.each do |badge| %>
	    <div class="mb-2">
				<div>					 
					<%= image_tag attachments[badge.image_file_name].url, class: 'badge_image' %>
			  </div>
		 	  <%= badge.title %>	
		 	</div> 
	  <% end %>
	</p>
<% end %>
<p>
	<%= t '.action_html', link: (link_to t('.action_link'), tests_url(lang: I18n.locale) ) %>
</p>
 