<div class="row justify-content-center">
  <div class='col-12 col-md-6'>
		<h1><%= badge_header(@badge) %></h1>
    <div class="card">
      <div class="card-body">
				<%= form_with model: [:admin, @badge], local: true do |form| %>
				  <%= render 'shared/errors', resource: @badge%>
					<div class="form-group">
						<%= form.label :title %>  
						<%= form.text_field :title, id: :badge_title, class: 'form-control' %>
					</div>

					<hr>
					<div class="form-group">
						<%= form.label :rule %> 
						<%= form.select :rule, badge_rules_for_select , 
														{include_blank: false, prompt: true}, 
														{id: :badge_rule, class: 'form-control'} %>  
					</div>
					<div class="form-group">
						<%= form.label :category_id %>  
						<%= form.collection_select :category_id, 
																				Category.all, 
																				:id, :title, 
																				{prompt: true}, 
																				{class: 'form-control'} %>
					</div>						
					<div class="form-group">
						<%= form.label :test_id %>  
						<%= form.collection_select :test_id, 
																			 Test.all, 
																			 :id, 
																			 :title, 
																			 {prompt: true}, 
																			 {class: 'form-control'} %>
					</div>						

				  <hr>

					<div class="form-group">
						<%= form.label :image_file_name %>  
						<%= form.select :image_file_name, 
														 badge_image_file_names,   
														{include_blank: false, prompt: true}, 
														{id: :badge_image_file_name, class: 'form-control'} %> 														
					</div>				

					<div class="d-flex justify-content-center mb-4">
						<%= badge_image_tag @badge.image_file_name, 
																id: :badge_image_file_preview, 
															  class: "rounded-sm image_in_form" %>
					</div>
				

				
					<div class="form-group">
						<%= form.submit class: 'btn btn-secondary' %>
					</div>
				<% end %>
      </div>
    </div>    
    <%= render 'back_button' %>

  </div>
</div>

