<div class="nav">
	<div class="app-title">
		<% if current_page?(admin_root_path) %>
			Admin panel - <%= TestGuru::Application::NAME %>
		<% else %>
		   <%= link_to 'Admin panel - ' + TestGuru::Application::NAME, admin_root_path%>
		<% end %>
	</div>


  <div class="right">
  	<% if user_signed_in? %>
 	  	<div>Guru: <%= content_tag :b, current_user.name , class: 'user' %></div>
 		  <div>
 		  	<%= link_to 'Logout', 
			     				 destroy_user_session_path,
						       method: :delete,
							     data: { confirm: 'Do you really want logout?'} %>
			</div>
	  <%else%>	 		  		   
	    <div>
		    <%= link_to 'Login', new_user_session_path unless current_page?(new_user_session_path) %> 
		  </div>
		  <div>
		  	<%= link_to 'Sign up', new_user_registration_path unless current_page?(new_user_registration_path) %> 		   
		  </div>		  
	  <% end %>
  </div>						


</div>