<div class="jumbotron">
	<div class="container">
		<h1 class="display-4"><%= t '.title', test_title: @test_passage.test.title %></h1>
		<hr class="my-4">
		<p class="lead">
			<% if @test_passage.success? %>
				<strong class="text-success"> 
					<%= t '.success_message', success_percent: @test_passage.success_percent %>
				</strong>
			<% else %>
				<strong class="text-danger"> 
					<%= t '.unsuccess_message', success_percent: @test_passage.success_percent %>
				</strong>
			<% end %>
		</p>

		<% if @test_passage.badges.count.nonzero? %>
		  <h2> <%= t '.badges_gived', count: @test_passage.badges.count %> </h2>
		  
		  <% @test_passage.badges.each do |badge| %>
		    <div>
					<div class="d-flex justify-content-left">
					  <%= badge_image_tag badge, class: "image_in_table" %>  
				  </div>
			 	  <%= badge.title %>	
			 	</div>  
		  <% end %>

		<% end %>

		<div class="lead mt-4">
      <%= link_to '< ' + t('.back'), tests_path, class: 'btn btn-info btn-lg' %> 			
		</div>
  </div>
</div>