<div class="row justify-content-center">
  <div class='col-12 col-md-6'>
		<h1><%= t '.passing_title', test_title: @test_passage.test.title %></h1>


		<%= content_tag :div, '', class: 'progress', 
		                data: { percent: @test_passage.percent_finished, 
		                			  color_class: 'bg-info' }%>
		

		<p class="text-secondary">
			<%= t  '.question_stat', 
							current_question_number: @test_passage.current_question_number, 
							total_questions_count: @test_passage.test.questions.count %>
		</p>
		
		<p class="lead">
			<strong><%= @test_passage.current_question.body %></strong>
		</p>
    <div class="card">
      <div class="card-body">			 
				<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>

					<%= form.collection_check_boxes :answer_ids, 
																					@test_passage.current_question.answers, 
																					:id, :body, include_hidden: false do |b| %>

		        <div class="form-group form-check">
		          <%= b.check_box id: "answer_ids_#{b.object.id}", class: 'form-check-input' %>            
		          <%= b.label class: 'form-check-label' %>          
		        </div>
						
					<% end %>

				  <div class="form-group">
				    <%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post %>
				  </div>

					<%= form.submit t('.submit.update') + ' >', class: 'btn btn-info' %>
				<% end %>
    	</div>
  	</div>   					
  </div>
</div>