<p>
	<% if user_signed_in? %>
		<p class="app-welcome-title"> <%= TestGuru::Application::NAME %> actions </p>
		<p class="app-welcome-text"> You can 
			<%= link_to 'select test', tests_path %> to pass
		</p>		
	<% else %>
		<p class="app-welcome-title"> Welcome to <%= TestGuru::Application::NAME %> </p>
		<p class="app-welcome-text"> To use all of the application power please
		  <%= link_to 'Sign up', new_user_registration_path %> or		   
		  <%= link_to 'Login', new_user_session_path %> first
		</p>
	<% end %>
</p>