<h1>Answer: <%= @answer.body%></h1>

<p><strong>Question: </strong><%= @answer.question.body %></p>
<p><strong>Answer body: </strong><%= @answer.body %></p>
<p><strong>Correct: </strong><%= @answer.correct %></p>

<%= render 'back_button' %>
