 

		<h1><%= i18n_mn(@answer) %>: <%= @answer.body%></h1>

		<p><strong><%= i18n_ma(@answer.question, 'body') %>: </strong><%= @answer.question.body %></p>
		<p><strong><%= i18n_ma(@answer, 'body') %>: </strong><%= @answer.body %></p>
		<p><strong><%= i18n_ma(@answer, 'correct') %>: </strong><%= @answer.correct %></p>

		<%= render 'back_button' %>

 