<div class="row justify-content-center">
  <div class='col-12 col-md-6'>
		<h1><%= test_header(@test) %></h1>
    <div class="card">
      <div class="card-body">
				<%= form_with model: [:admin, @test], local: true do |form| %>
				  <%= render 'shared/errors', resource: @test%>
					<div class="form-group">
						<%= form.label :title %>  
						<%= form.text_field :title, id: :test_title, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= form.label :level %>  
						<%= form.number_field :level, id: :test_level, min: 0, class: 'form-control' %>
					</div>	
					<div class="form-group">
						<%= form.label :category_id %>  
						<%= form.collection_select :category_id, Category.all, :id, :title, {prompt: true}, {class: 'form-control'} %>
					</div>			
					<div class="form-group">
						<%= form.submit class: 'btn btn-secondary' %>
					</div>
				<% end %>
      </div>
    </div>    
    <%= render 'back_button' %>

  </div>
</div>

