<tr>
	<td><%= link_to test.title, admin_test_path(test), class: 'test-title', data: {test_id: test.id} %>
		  <%= link_to edit_admin_test_path(test), 
		  		class: 'form-inline-link', 
		  		data: {test_id: test.id},
		      title: i18n_cr('action.quick_edit') do %>
				<%= fa_icon 'edit', class: "ml-3 text-dark" %> 			
			<% end %>
			<%= render 'form_inline' , {test: @test == test ? @test : test} %>
	</td>
	<td><%= test_level(test) %></td>
	<td><%= test.questions.count %></td>
	<td><%= test_time_limit(test) %></td>

	<td><%= link_to i18n_cr('action.show'), admin_test_path(test), class: "btn btn-secondary" %></td>
	<td><%= link_to i18n_cr('action.edit'), edit_admin_test_path(test), class: "btn btn-secondary" %></td>
	<td>
		<%= link_to i18n_cr('action.destroy'), 
								admin_test_path(test), 
								class: "btn btn-secondary",
								method: :delete,
								data: { confirm: i18n_cr('message.destroy.confirm', obj: i18n_mn(test)) } %>
	</td>
</tr>