<h1>Test: <%= @test.title %></h1>

<p><strong>Title: </strong><%= @test.title %></p>
<p><strong>Level: </strong><%= test_level(@test) %></p>
<p><strong>Category: </strong><%= @test.category.title %></p>
<p><strong>Author: </strong><%= "#{@test.author.name} #{@test.author.surname}" %></p>

<h2>Questions</h2>
<%= link_to 'New question', new_admin_test_question_path(@test) %>
<table>
	<tr>
		<th>Question body</th>
		<th colspan="3">Actions</th>
	</tr>
  <%= render @test.questions %> 
</table>

<%= render 'back_button' %> 

