
		<h1><%= i18n_mn(@test) %>: <%= @test.title %></h1>

		<p><%= link_to i18n_cr('action_full.edit', obj: i18n_mn(@test)), 
									 edit_admin_test_path(@test), 
									 class: "btn btn-secondary" %></p>

		<p><strong><%= i18n_ma(@test,'title') %>: </strong><%= @test.title %></p>
		<p><strong><%= i18n_ma(@test,'level') %>: </strong><%= test_level(@test) %></p>
		<p><strong><%= i18n_ma(@test,'category_id') %>: </strong><%= @test.category.title %></p>
		
		
		<p><strong><%= i18n_ma(@test,'time_limited') %>: </strong><%= i18n_b(@test.time_limited) %></p>
		<% if @test.time_limited %>
		  <p><strong><%= i18n_ma(@test,'time_limit_min') %>: </strong><%= @test.time_limit_min %></p>
		<% end %>


		<p><strong><%= i18n_ma(@test,'author_id') %>: </strong><%= "#{@test.author.name} #{@test.author.surname}" %></p>

		<h2><%= i18n_mn(@test.questions, count: 2) %></h2>
		<p>
			<%= link_to i18n_cr('action_full.new', obj: i18n_mn(@test.questions) ), new_admin_test_question_path(@test), class: 'btn btn-secondary' %>
	  </p>
		<table class="table">
			<thead>			 
				<tr>
					<th><%= i18n_ma(@test.questions, 'body') %></th>
					<th colspan="3"><%= i18n_cr('actions_title') %></th>
				</tr>
			</thead>
			<tbody>
		    <%= render @test.questions %> 
		  </tbody>
		</table>

		<%= render 'back_button' %> 

