<h1><%= t('.header') %></h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col"><%= i18n_ma(@tests, 'title') %></th>
			<th scope="col"><%= i18n_ma(@tests, 'level') %></th>
			<th scope="col"><%= i18n_ma(@tests, 'questions.count') %></th>
			<th scope="col"><%= i18n_cr('actions_title') %></th>
	  </tr>
	</thead>
	<tbody>
    <%= render @tests %>
  </tbody>
</table>

